:root {

    /*--background--*/
    --bg-color1: rgb(12, 99, 139);
    --bg-color5: #f1f1f1;

    /*-- font color --*/
    --ft-color1: #222;
    --ft-color2: #fff;


    /*-- font family --*/
    --ft-family1: monospace;
    --ft-family2: sans-serif;

}


body {
    font-family: var(--ft-family1);
    background-color: var(--bg-color5);
}

i {
    color: var(--ft-color1);
    margin-right: 2px;
}

.navbar i {
    color: var(--ft-color2);
    margin-right: 2px;
}



/*---------------commoon css--------------------*/
.bgColor {
    background-color: var(--bg-color1);
}

.ftColor {
    color: var(--ft-color2);
}



/*---------------bootstrap css--------------------*/
.bs-row>* {
    padding-right: 0;
    padding-left: 0;
}


/*------- navbar --------*/
.bs-navbar-brand:hover {
    color: var(--ft-color2);
    opacity: 0.82;
}

.bs-nav-item:not(ul .account) {
    margin-right: 10px;
    border-right: 1px solid #f5f5f538;
}

.bs-nav-item:hover .bs-nav-link {
    color: var(--ft-color2);
    opacity: 0.82;
}

.bs-nav-item .bs-nav-link:focus {
    color: var(--ft-color2);
}

.account .bs-dropdown-menu[data-bs-popper] {
    left: -100px;
    right: 0 !important;
}



/*------- sidebar -------*/
.bs-accordion-item .bs-accordion-button {
    color: var(--ft-color1);
}



/*------ content ------*/
.bs-card {
    width: 100% !important;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.bs-card .bs-card-body{
    font-family: var(--ft-family2);
}

.bs-card-body .bs-card-title {
    margin-bottom: 15px;
}

.bs-card-body .bs-card-text {
    font-size: 15px;
    margin-bottom: 20px;
}

.bs-card-body > .bs-btn {
    color: #fff;
}


