/*----------- product card -------------*/
.product {
    background-color: var(--bg-color5);
    padding: 100px 0;
}


/*----content------*/
.content {
    background-color: var(--bg-color5);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: stretch;
}

.content .product-img {
    width: 100%;
    height: 200px;
}

.content .product-img .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-footer .btn-cart > i {
    color: var(--ft-color2);
}

.card-footer .btn-cart:hover > i {
    color: var(--ft-color3);
}